*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family:'Cairo',sans-serif;
background:red !important;
overflow-x:hidden;
}

/* الخلفية */

.hero-content{

position:relative;
  z-index: 10;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

text-align:center;

}

.background{

position:absolute;

top:0;

left:0;

width:100%;

height:100%;

object-fit:cover;

z-index:-3;

animation:zoom 18s infinite alternate;

}

.overlay{

position:absolute;

top:0;

left:0;

width:100%;

height:100%;

background:linear-gradient(rgba(0,0,0,.15),rgba(0,0,0,.60));

z-index:-2;

}

/* الكتابة */

.hero-content{

width:90%;

max-width:900px;

opacity:0;

animation:showText 2s forwards;

animation-delay:2s;

}

.small{

font-size:28px;

color:white;

margin-bottom:20px;

font-weight:600;

}

.hero-content h1{

font-size:54px;

color:white;

line-height:1.7;

margin-bottom:20px;

text-shadow:0 5px 20px rgba(0,0,0,.4);

}

.hero-content h2{

font-size:42px;

color:#fff;

margin-bottom:15px;

}

.hero-content h3{

font-size:90px;

font-family:'Cinzel',serif;

color:#f4d58d;

text-shadow:

0 0 10px rgba(255,255,255,.9),

0 0 30px rgba(212,175,55,.9),

0 0 60px rgba(212,175,55,.7);

margin:20px 0 40px;

}
/* آية الإنجيل */

.verse{

font-size:24px;

line-height:2;

color:white;

margin:30px auto;

max-width:700px;

opacity:0;

animation:showText 2s forwards;

animation-delay:3.5s;

text-shadow:0 3px 12px rgba(0,0,0,.5);

}

/* الزر */

.gold-button{

display:inline-block;

margin-top:35px;

padding:18px 45px;

background:linear-gradient(45deg,#b8860b,#f4d58d);

color:white;

text-decoration:none;

font-size:22px;

border-radius:50px;

transition:.4s;

opacity:0;

animation:showText 2s forwards;

animation-delay:5s;

box-shadow:0 10px 35px rgba(0,0,0,.35);

}

.gold-button:hover{

transform:scale(1.08);

background:linear-gradient(45deg,#d4af37,#ffe9a8);

}

/* القسم الثاني */

#details{

padding:90px 20px;

background:#faf8f4;

}

.card{

max-width:750px;

margin:35px auto;

padding:40px;

border-radius:25px;

background:white;

box-shadow:0 15px 40px rgba(0,0,0,.12);

text-align:center;

color:#333;

}

.card h1{

font-size:46px;

color:#b8860b;

margin-bottom:20px;

}

.card h2{

font-size:34px;

color:#b8860b;

margin-bottom:20px;

}

.card p{

font-size:24px;

line-height:2;

}

.maps{

display:inline-block;

margin-top:25px;

padding:15px 35px;

background:#b8860b;

color:white;

text-decoration:none;

border-radius:40px;

font-size:22px;

}

